@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300');


/* GENERALES */

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: url("../img/bg.jpg");
  height: 100vh;
  background-size: cover;
}

/* FORMULARIO */

.formulario {
  width: 100%;
  max-width: 450px;
  padding: 50px;
  margin: 0 auto;
  background: rgba(255,255,255,0.8);
  -webkit-box-shadow: 1px 0px 29px -9px rgba(0,0,0,0.17);
  -moz-box-shadow: 1px 0px 29px -9px rgba(0,0,0,0.17);
  box-shadow: 1px 0px 29px -9px rgba(0,0,0,0.17);
}

.formulario .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.formulario .form-control:focus {
  z-index: 2;
}

/* INPUTS */

.input-usuario{
    background-color:rgba(0,0,0,0) !important;
    border:none !important;
    border-bottom: 1px solid #989797 !important;
    border-radius: 0px !important;
    letter-spacing: 1px;
    font-weight: 400;
}

.input-pass{
    background-color:rgba(0,0,0,0) !important;
    border:none !important;
    border-bottom: 1px solid #989797 !important;
    border-radius: 0px !important;
    letter-spacing: 1px;
    font-weight: 400;
}

input::-webkit-input-placeholder {
    font-size: 13px;
    color:#989797;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.fa-user-circle-o{
  color: gray;
}

.useFontAwesomeFamily::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-family: 'Roboto Condensed', "Font Awesome\ 5 Free" !important;
}
.useFontAwesomeFamily:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-family: 'Roboto Condensed', "Font Awesome\ 5 Free" !important;
}
.useFontAwesomeFamily::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-family: 'Roboto Condensed', "Font Awesome\ 5 Free" !important;
    font-size: 13px;
}
.useFontAwesomeFamily:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: 'Roboto Condensed', "Font Awesome\ 5 Free" !important;
}
.useFontAwesomeFamily::-ms-input-placeholder { /* Microsoft Edge */
    font-family: 'Roboto Condensed', "Font Awesome\ 5 Free" !important;
}
.useFontAwesomeFamily::placeholder { /* Most modern browsers */
    font-family: 'Roboto Condensed', "Font Awesome\ 5 Free", "Font Awesome 5 Regular", !important;
    font-weight: 900;
}


/* TITULO LOGIN */

.titulo-login{
    font-family: 'Roboto';
    font-weight: 100;
    color: #4a4949;
    font-size: 32px;
}

/* BOTON */

.btn-login{
    background: #fc3955;
    border-radius: 0px !important;
    border:none;
    padding: 15px;
    font-family: 'Roboto Condensed';
    font-size: 15px;
    width: 95% !important;
    margin: auto;
    letter-spacing: 1px;

}

.btn-login:hover{
    background: #c22d42;
}

/* TEXTOS INFERIORES */

.texto-pass, .texto-cuenta{
    font-size:14px;
}

.texto-pass span{
    color:#454545;
}

/* MEDIA QUERIES */
@media screen and (max-width: 450px){

    .formulario{
        margin-left:15px;
        margin-right:15px;
    }

}